@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
  --main: #ECEEFF;
  --inpColor: #fff;
  --btnColor: #fff;
  --formColor: rgba(255, 255, 255, 0.6);
  --themeBg: #252733;
  --shadow1: rgba(0, 0, 0, 0.1);
  --shadow2: rgba(255, 255, 255, 0.1);
  --txtColor: #000;
  --moreColor: linear-gradient(145deg, #62CFFF, #D662FF);
  --moreColorReverse: linear-gradient(145deg, #D662FF, #62CFFF);
  --heading: linear-gradient(45deg, #FF00CC, #3333ff, #00FFCC);
}

:root .dark {
  --main: #252733;
  --inpColor: #3B3B3B;
  --btnColor: #121212;
  --formColor: #1A1B1F;
  --themeBg: #ECEEFF;
  --shadow1: rgba(255, 255, 255, .3);
  --shadow2: none;
  --txtColor: #fff;
  --moreColor: linear-gradient(145deg, #FF9C62, #D662FF);
  --moreColorReverse: linear-gradient(145deg, #D662FF, #FF9C62);
  --heading: linear-gradient(45deg, #FF00CC, #FF7A2D, #00FFCC);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-height: 100vh;
  width: 100%;
  background-color: var(--main);
  transition: .3s linear;
}


.square {
  position: absolute;
  height: 1.8rem;
  width: 3rem;
  background: var(--themeBg);
  top: 10px;
  right: 10px;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  border: none;

}

.circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: 3px;
  background: url(moon-stars-svgrepo-com.svg) no-repeat;
  transition: 0.3s linear all;
}


h1 {
  font-family: "Madimi One", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  background: var(--heading);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: transparent;
  position: relative;
}

form {
  height: 5rem;
  background-color: var(--formColor);
  margin: 15px;
  width: 90%;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 10px;
  box-shadow: 0 0 10px var(--shadow1);
  margin-bottom: 30px;

}

input {
  width: 80%;
  height: 80%;
  border: none;
  outline: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .1),
    -4px -4px 5px var(--shadow2);
  background-color: var(--inpColor);
  color: var(--txtColor);
}

.searchBtn {
  flex: 1;
  background: var(--btnColor);
  border: none;
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 5px var(--shadow1),
    -4px -4px 5px var(--shadow2);
  user-select: none;
}

.searchBtn:active {
  box-shadow: 4px 4px 5px rgba(255, 255, 255, .1),
    -4px -4px 5px rgba(0, 0, 0, 0.1);
}

.searchBtn img {
  width: 25px;
  user-select: none;
  size: cover;
  position: center;
}

.container .images {
  margin: auto;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.images .downloadBtn {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
  border: none;
  padding: 8px;
  transition: all .5s linear;
  margin-top: 28px;
  right: 0px;
  top: 0;
}


.images .downloadBtn .download {
  width: 22px;
}


.images .genImage {
  width: 400px;
  border-radius: 8px;
  position: relative;
  margin-top: 20px;
  border: 1px solid black;
  height: 400px;
  object-fit: cover;
}


.images img:hover .downloadBtn {
  display: flex;
  width: 25px;
  position: absolute;
  right: 10px;
  flex: none;
  top: 10px;
  background: white;
  border-radius: 50%;
  border: none;
  padding: 2px;
  transition: all .5s linear;
}


.more {
  height: 3rem;
  width: 9rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: var(--moreColor);
  font-size: 20px;
  font-weight: bolder;
  margin: 10px auto 30px auto;
  text-transform: capitalize;
  display: none;
  position: relative;
}

.more::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--moreColor);
  filter: blur(10px);
  position: absolute;
  transform: translateY(10px) translateX(0px) scale(.9);
  z-index: -1;
}


.more img {
  width: 25px;
  margin-left: 5px;
  transform: rotate(90deg);
}

.more:active {
  background: var(--moreColorReverse);
  color: #fff;
  transform: scale(.9);
}

.more:active::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--moreColorReverse);
  filter: blur(10px);
  position: absolute;
  transform: translateY(10px) translateX(0px) scale(.9);
  z-index: -1;
}

hr{
  background: var(--heading);
  height: 2px;
  border: none;
}

footer {
  margin-top: 0px;
  position: relative;
  top: 10px;
}

.footer-text {
  font-size: 15px;
  letter-spacing: 0px;
  color: #FF7A2D;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: none;
  font-family: Arial, Helvetica, sans-serif;
}

#contact {
  min-height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: formGradient 5s linear infinite;
  background: var(--heading);
  box-shadow: none;
  padding: 5px;
  row-gap: 5px;
}

.name,
.email {
  width: 100%;
  height: 6rem;
  color: var(--txtColor);
  margin: 0;
  font-size: 15px;
}

.message{
  -webkit-appearance: none;
  height: 15rem;
  width: 100%;
  background: var(--inpColor);
  border-radius: 10px;
  padding: 10px;
  outline: None;
  color: var(--txtColor);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

}

.message::placeholder{
  font-family: Arial, Helvetica, sans-serif;
}

.submit{
  width: 100%;
  border-radius: 10px;
  background: transparent;
  border: none;
  height: 10rem;
  color:#fff;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}
